

.row{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 790px;
    // height: 180px;
    border-radius: 25px;
    border: solid 2px black;
    margin-top: 13px;
    position: relative;
    
    p{
      margin-top: 24px;
      margin-left: 20px;
      font-size: 15px;
      font-weight: 400;
      color:grey;
      text-align: left;
      padding-top: 20px;
    }
    .arrow img{
      position: absolute;
      right: 26px;
      top: 11px;
      cursor: pointer;
    }
    .boolean img{
      position: absolute;
      right: 110px;
      top: 10px;

    }
  }