.container{
  width: 100%;
  height: 100vh;
  background:url(../../../assets/kali-linux.jpg) ;
  background-position-x: 12rem;
  background-size: cover;
  /* background-image: fit; */
  /* background-repeat: no-repeat; */
  /* background:; */
  /* background-color: blue; */
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  z-index: 200;
  .profile{
    position: absolute;
    left: 5rem;
    top: 2rem;
  }
}

/* Css Modal  */


body.active-modal {
  overflow-y: hidden;
  /* z-index: 500; */
}
.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 500;
}

.overlay {
  background: rgba(49,49,49,0.8);
  z-index: 300;
}

.modal_content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  /* padding: 14px 28px; */
  border-radius: 3px;
  width: 940;
  height: 467px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  background-color: #00AAE2;
  z-index: 350;
}

.close_modal {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 7px;
}
.bg{
  margin-top: 30px;
  Width:256px;
  Height:437px;
  background-color: white;
  border-bottom-left-radius: 15px ;
  position: relative;
}
.desc{
  margin-top: 30px;
  Width:600px;
  Height:437px;
  background-color: white;
  border-bottom-right-radius: 15px ;
  position: relative;

  p{
    font-size: 14px;
    color:black;
    padding: 45px 60px 35px 30px;
    text-align: left;
  }
}
// .desc p{
 
// }
.desc span{
  Width:20px;
  Height: 397px;
  position:absolute;
  top: 19px;
  right: 20px;
  background-color:  #00AAE2;
}

.bg_media{
  width: 226px;
  Height:417px;
  position: absolute;
  left: 15px;
  top: 10px;
  background-color: #00AAE27D; 
  border-radius: 12px;
}
.bg_media img{
  /* width: 190px; */
  position: absolute;
  top: 42%;
  left: 6%;
}

.bell{
  cursor: pointer;
}

.desc .close button{
  Width: 100px;
  Height: 40px;
  background-color: rgba(49, 165, 71, 1);
  border: none;
  outline: none;
  border-radius: 4px;
  position: absolute;
  bottom: 1.5rem;
  right: 4rem;
  // margin-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;

}
.back button{
  Width: 105px;
  Height: 40px;
  background: #6C757D 0% 0% no-repeat padding-box;
  border: none;
  outline: none;
  border-radius: 4px;
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  // margin-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
}

// .desc .back button{
//   Width:96px;
//   Height: 40px;
//   background-color: 6C757D;
//   border: none;
//   outline: none;
//   border-radius: 4px;
//   position: absolute;
//   bottom: 1.5rem;
//   right: 4rem;
//   // margin-left: 30px;
//   cursor: pointer;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 18px;
//   color: rgba(255, 255, 255, 1);
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   gap: 0.5em;

// }


.message{

  width: 510px;
  /* height: 120px; */
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 108px;
  left: 213px;
  padding:10px 35px 10px 15px;
  border-radius: 5px;
  h2{
     font-size: 16px;
     font-weight: 700;
     line-height: 19px;
     color: rgba(49, 165, 71, 1);;
     text-align: left;
    
  }
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }
  img{
    position: absolute;
    bottom: 46px;
    left: -20px;
  }
  
}

.audio{
  width: 510px;
  position: absolute;
  left: 13.5rem;
  bottom: 3.5rem;
}

.ModalAudio{
  width: 520px;
  position: absolute;
  bottom: 5rem;
  left:1.5rem;

}


.btnNextEnble{
    // background-color: #5CB962;
    width: 150px;
    // height: 42px;
    // border-radius: 3px;
      position: absolute;
      right: 8rem;
      bottom: 4rem;
    
      height: 40px;
      background: #5CB962 0% 0% no-repeat padding-box;
      border-radius: 4px;
      text-align: left;
      font: normal normal bold 14px/17px Karla;
      letter-spacing: 0.28px;
      color: #FFFFFF;
      opacity: 1;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      gap: 0.5em;
  
  
}

.btnNextDesable{
    width: 150px;
    position: absolute;
    right: 8rem;
    bottom: 4rem;
    height: 40px;
    background: #6C757D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: left;
    font: normal normal bold 14px/17px Karla;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    gap: 0.5em;


}

.msg_text{
  color:black;
}
.Msg img{
  transform: scaleX(-1);
  width: 252px;
}



.backBtn button{

    width: 100px;
    height: 15px;
    position: absolute;
    right: 8rem;
    top: 3rem;
    height: 40px;
    background: #6C757D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: left;
    font: normal normal bold 14px/17px Karla;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    gap: 0.5em;
  

}




// @media only screen and (max-width: 1024px) {

//   .bell1 {
//     top: 11rem !important;
//     left: 16rem !important;
//   }
//   .bell2 {
//     top: 19rem !important;
//     left: 19rem !important;
//   }
//   .bell3 {
//     top: 20rem !important;
//     left: 28rem !important;
//   }
//   .bell4 {
//     top: 20rem !important;
//     left: 37rem !important;
//   }
//   .bell5 {
//     top: 19rem !important;
//     left: 47rem !important;
//   }
//   .bell6 {
//     top: 11rem !important;
//     left: 50rem !important;
//   }
// }



// @media only screen and (min-width: 1025px) and (max-width: 1440px) {
  
//   .bell1 {
//     position: absolute;
//     top: 9rem !important;
//     left: 24rem !important;
//     border: 5px solid red;
//   }
//   .bell2 {
//     top: 19rem !important;
//     left: 29rem !important;
//   }
//   .bell3 {
//     top: 21rem !important;
//     left: 41rem !important;
//   }
//   .bell4 {
//     top: 21rem !important;
//     left: 52rem !important;
//   }
//   .bell5 {
//     top: 19rem !important;
//     left: 66rem !important;
//   }
//   .bell6 {
//     top: 9rem !important;
//     left: 70rem !important;
//   }
// }